<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <table border = "2px">
            <tr>
                <td>Страна</td>
                <td>Город</td>
                <td>Время</td>
                <td>Температура, С</td>
                <td>Скорость ветра, м/с</td>
                <td>Эффективная температура, С</td>
                <td>Влажность, %</td>
                <td>Давление</td>
                <td>Видимость</td>
                <td>Восход солнца</td>
                <td>Заход солнца</td>
            </tr>
            {% for country in countries %}
            {% for city in country.cities %}
            {% for weather in city.weathers %}
            <tr>
                <td>{= country.name =}</td>
                <td>{= city.name =}</td>
                <td>{= weather.time =}</td>
                <td>{= weather.temp =}</td>
                <td>{= weather.windSpeed =}</td>
                <td>{= weather.windChill =}</td>
                <td>{= weather.humidity =}</td>
                <td>{= weather.pressure =}</td>
                <td>{= weather.visibility =}</td>
                <td>{= weather.sunrise =}</td>
                <td>{= weather.sunset =}</td>
            </tr>
            {% endfor %}
            {% endfor %}
            {% endfor %}
        </table>
</body>
</html>

